@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background: #ECECEC;
}

.navbar-inverse {
  background: #4285F4;
  border-color: #4285F4;

  .container-fluid .navbar-brand,
  .navbar-nav li a {
    color: white;
  }
}

.avatar {
  border-radius: 50%;
}

.alert-alert {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}

label.checkbox {
  padding-left: 20px;
  input {
    margin-top: -5px;
    box-shadow: none;
    width: auto;

    &:focus {
      box-shadow: none;
    }
  }
}